/* common styling & support button */
#support,
#extensions,
#account,
#new-message {
  background-color: white;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.35);
  display: none;
}

#support p:hover,
#extensions span:hover,
#account h4:hover,
button:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

#support {
  padding: 10px;
  font-size: 0.9rem;
  top: 50px;
  right: 150px;
  width: 210px;
  height: 200px;
}

#support p {
  margin: 0;
  padding: 10px 0;
}

.feedback {
  border-top: 1px solid rgb(195, 195, 195);
}

/* extension button */
#extensions {
  top: 50px;
  right: 1%;
  height: 435px;
  width: 300px;
  overflow-y: scroll;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(11, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

#extensions span {
  border-radius: 7px;
  padding: 14px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#extensions i {
  font-size: 35px;
}

#extensions p,
#account p {
  font-size: 13px;
  margin: 0;
  padding-top: 8px;
}

/* account button */
#account {
  padding-top: 15px;
  text-align: center;
  top: 50px;
  right: 30px;
  height: 410px;
  width: 320px;
}

.add-account {
  border-top: 1px solid rgb(195, 195, 195);
  border-bottom: 1px solid rgb(195, 195, 195);
}

#account h4 {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

#account h4:hover {
  background-color: rgb(240, 240, 240);
}

.manage {
  border: 1px solid rgb(195, 195, 195);
  border-radius: 50px;
}

.add-account h4 {
  text-align: left;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 3px;
  padding: 7px 18px;
  margin: 13px;
  font-weight: bold;
}

.avatar {
  width: 90px !important;
  height: auto !important;
}

.fa-user {
  font-size: 13px;
  margin-right: 20px;
}

#account h3 {
  font-size: 19px;
}

.privacy {
  border-top: 1px solid rgb(195, 195, 195);
}

/* new message pop up page */
#new-message {
  /* display: block; */
  width: 600px;
  height: 550px;
  right: 70px;
  bottom: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.dark {
  background-color: rgb(50, 105, 123);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.dark span {
  padding: 10px 15px;
  color: aliceblue;
}

.dark a {
  color: aliceblue;
  padding: 2px 10px;
}

.dark a:hover {
  background-color: lightblue;
  color: rgb(50, 105, 123);
}

.flex {
  display: flex;
  justify-content: space-between;
}

.message-form input[type="text"],
.page textarea {
  outline: none;
  width: 99%;
  border: none;
  font-size: 15px;
  padding: 6px 15px;
}

.page p {
  padding: 0 15px;
}
.page textarea {
  padding: 5px;
  margin: 5px;
}

.message-bottom {
  position: absolute;
  bottom: 0%;
  padding: 0 10px;
}

.message-bottom a {
  padding: 4px;
  font-size: medium;
  border-radius: 2px;
}

.message-bottom a:hover {
  background-color: lightblue;
}

.message-bottom button {
  background-color: rgb(48, 82, 193);
  color: aliceblue;
  border: none;
  padding: 10px 24px;
}
/* pop ups */
.editor,
.emojis,
.edit-link,
.attach {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 15px;
  z-index: 5;
}

.emojis {
  display: block;
  left: 90px;
}

.edit-link,
.attach {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.edit-link img,
.attach img {
  border-radius: 7px;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.35);
}

.search-menu {
  display: none;
  position: absolute;
  top: 57px;
  max-width: 700px;
  width: 53%;
  /* display: flex; */
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 200px;
  font-size: 15px;
  background-color: #f1f3f4;
  padding: 0 10px;
  border-bottom-left-radius: 10px;
  margin-right: auto;
  overflow-y: scroll;
}

.fa-clock {
    margin: 0 10px;

}

/* new message pop up page */
#new-message {
  display: block;
  width: 600px;
  height: 550px;
  right: 70px;
  bottom: 0;  
  position: fixed;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.dark {
  background-color: #4e4e4e;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;  
}

.dark span{
  padding: 10px 15px;
  color: white;
}

.dark a {
  color: white;
  padding: 2px 10px;
}

.dark a:hover {
  background-color: lightblue;
  color:rgb(50, 105, 123)
}

.flex {
  display: flex;
  justify-content: space-between;
}

.message-form input[type=text], .page textarea {
  outline: none;
  width: 99%;
  border: none;
  font-size: 15px;
  padding: 6px 15px;
}

.page textarea {
  padding: 5px;
  margin: 5px;
}

.message-bottom {
  position: absolute;
  bottom: 0%;
  padding: 0 10px;
}

.message-bottom a {
  padding: 4px;
  font-size: medium;
  border-radius: 2px;
  color: #4e4e4e;
}

.message-bottom a:hover {
  background-color: white;
}

.message-bottom button {
  background-color: rgb(27,114,232);
  color: white;
  border: none;
  padding: 10px 24px;
}
/* pop ups */
.editor, .emojis, .edit-link, .attach {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 15px;
  z-index: 5;
}

.emojis {
display: block;
  left: 90px;
}

.edit-link, .attach {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.edit-link img, .attach img {
  border-radius: 7px;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.35);
}